body, html{
    background-color: rgb(127, 243, 199);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bree Serif', serif;
}

form, h1, h2, #nav {
    text-align: center;
}

table, tr{
     width: 75%;
     border: 1px solid black;
     border-collapse: collapse;
     text-align: center;
     margin: 0 auto;
}

th{
    background-color: rgb(90, 156, 131);
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

tr:nth-child(even) {
    background-color: rgb(99, 189, 154);
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.boxes {
     width: 100%;
     margin: 0 auto;
}

.pet{
    height: 350px;
    width: 200px;
    margin: 15px;
    text-align: center;
    background-color : rgb(109, 172, 201)
}