body, html{
    background-color: rgb(127, 243, 199);
    /* background-image: url("http://dioji.com/images/home-fader-1.jpg"); */
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bree Serif', serif;
}

.md-menu-toolbar{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ2ed2PGk_K269NnqpSMK5G8mkVXujppLV77Nf2Go-Cy5HtLim");
    
}

#nav {
    /* background-color: rgb(79, 124, 145); */
    text-align: left; 
    font-weight: normal;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bree Serif', serif;
}

h1{
    text-align: left;
    color: rgb(252, 232, 232);
}

form, h2, th{
    text-align: center;
}

table, tr{
    width: 75%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

th{
    background-color:rgb(79, 124, 145);
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

tr:nth-child(even) {
    background-color: rgb(99, 189, 154);
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

tr:nth-child(odd) {
    background-color: rgb(127, 243, 199);
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.pet{
    height: 350px;
    width: 200px;
    margin: 15px auto;
    text-align: center;
    background-color : rgb(109, 172, 201)
}
