<h2>List of Owners</h2>
<h3 ng-show="!vm.editing">Add New Owner</h3>
<h3 ng-show="vm.editing">Editing {{vm.ownerToUpdate.name}}'s Information</h3>
<form ng-submit="vm.addOwner(vm.NewOwner)">
    <input type="text" placeholder="Name" ng-model="vm.NewOwner.name">
    <input type="text" placeholder="Email" ng-model="vm.NewOwner.email">
    <input type="submit">
    <input type="reset">
</form>
<br>
<div>
    <table>
        <thead>
            <tr>
            <th>
                <a href="" ng-click="orderByField='owner_name'; reverseSort = !reverseSort">Name</a>
            </th>
            <th>
                <a href="" ng-click="orderByField='email'; reverseSort = !reverseSort">Email</a>
            </th>
            <th>
                <a href="" ng-click="orderByField='total_pets'; reverseSort = !reverseSort">Total Pets</a>
            </th>
                <th>Delete</th>
                <th>Update Info</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="owner in vm.ownerArray.list | orderBy:orderByField:reverseSort">
                <td>{{owner.owner_name}}</td>
                <td>{{owner.email}}</td>
                <td>{{owner.total_pets}}</td>
                <td><md-button ng-click="vm.removeOwner($event, owner)" class=" md-raised md-warn">Delete</td>
                <td><md-button ng-click="vm.updateOwner(owner)" class=" md-raised md-primary">Update Info</td>
            </tr>
        </tbody>
    </table>
</div>
