<h2>List of Pets</h2>


<form ng-submit="vm.addPet(vm.newPet)">
    <input type="text" placeholder="Name" ng-model="vm.newPet.name">
    <input type="text" placeholder="Type" ng-model="vm.newPet.type">
    <input type="text" placeholder="Breed" ng-model="vm.newPet.breed">
    <select ng-model="vm.newPet.owner_id">
        <option value="">---Please select---</option>
        <!-- list owner names in database -->
        <option ng-repeat="owner in vm.ownerArray.list" value="{{owner.owner_id}}">{{owner.owner_name}}</option>
    </select>
<!-- ng-options works for options -->
    <input type="submit">
</form>

<br>
<div layout = "row" class="boxes">
    <div class="pet" ng-repeat="pet in vm.petArray.list">
        <h4>Name: {{pet.pet_name}}</h4>
        <p>Type: {{pet.pet_type}}</p>
        <p>Breed: {{pet.pet_breed}}</p>
        <p>Owner: {{pet.owner_name}}</p>
        <p>Checked In: {{pet.checked_in?'Yes':'No'}}</p>
        <button ng-click="vm.checkInPet(pet, pet.id, 'checkIn')">Check In</button>
        <button ng-click="vm.checkInPet(pet, pet.id, 'checkOut')">Check Out</button>
        <button ng-click="vm.deletePet(pet.id)">Delete</button>
    </div>
</div>