<h2>List of Pets</h2>
<br>

<form ng-submit="vm.addPet(vm.newPet)">
    <input type="text" placeholder="Name" ng-model="vm.newPet.name">
    <input type="text" placeholder="Type" ng-model="vm.newPet.type">
    <input type="text" placeholder="Breed" ng-model="vm.newPet.breed">
    <select ng-model="vm.newPet.owner_id">
        <option value="">---Please select---</option>
        <option ng-repeat="owner in vm.ownerArray.list" value="{{owner.owner_id}}">{{owner.owner_name}}</option>
    </select>
    <input type="submit">
    <input type="reset">
</form>

<br>
<div layout = "row" layout-wrap>
    <div class="pet" ng-repeat="pet in vm.petArray.list">
        <h4>Name: {{pet.pet_name}}</h4>
        <p>Type: {{pet.pet_type}}</p>
        <p>Breed: {{pet.pet_breed}}</p>
        <p>Owner: {{pet.owner_name}}</p>
        <p ng-show="pet.checked_in" type="datetime-local">Checked In: {{pet.date | date: 'MMM dd, yyyy'}}</p>
        <md-button ng-click="vm.checkInPet(pet, pet.id, 'checkIn', $event)" ng-show="!pet.checked_in" 
                class="md-raised md-primary">Check In</md-button>
        <md-button ng-click="vm.checkInPet(pet, pet.id, 'checkOut', $event)" ng-show="pet.checked_in" 
                class="md-raised md-primary">Check Out</md-button>
        <md-button ng-click="vm.deletePet($event, pet.id)" class="md-raised md-warn">Delete</md-button>
    </div>
</div>